doctype html
html
    head 
        link(rel="stylesheet", href="CSS.css")
        script(defer, src="JS.js")
        title CLOCK IT- manage your attendance clock
    body
        .container
            img.logo(src="images/whiteLogo.jpg", alt) 
            block content 