<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS.css">
    <title>CLOCK IT- manage your attendance clock </title>
    <script src="../static/JS.js"></script>
</head>
<body>
    <div class="container">
        <img class='logo' src="../static/whiteLogo.jpg" alt="">
        <div class="split__left">
            <h1> Welcome to CLOCK IT</h1>
            <h2>Here you can track your attendance clock from anywhere and at anytime</h2>
        </div> 
        <div class="split__right">
            <form action="HomePage.html" method="get" class="form" onsubmit="return validPassword()">
                <h1 class="form__title">Create New User</h1>
                <input type="text" required class="form__input" autofocus placeholder="First Name"><br>
                <input type="text" required class="form__input" autofocus placeholder="Last Name"><br>
                <input type="email" required class="form__input" autofocus placeholder="Email Address"><br>
                <input type="text" required class="form__input" autofocus placeholder="Choose Username"><br>
                <input type="password" required class="form__input" id="newPassword" autofocus placeholder="Choose Password"><br>
                <span id="passwordCheck"></span><br>
                <a href="HomePage.html">
                    <button type="submit">Create</button>
                </a>
            </form>
            <p>Already have an account? <a href="SignIn.html">Sign In here</a></p> 
        </div> 
    </div>  
</body>
</html>