<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS.css">
    <title>CLOCK IT- manage your attendance clock </title>
    <script src="JS.js"></script>
</head>
<body>
    <div class="container">
        <img class='logo' src="images/whiteLogo.jpg" alt="">
        <div class="split__left">
            <h1 id="welcome"> Welcome to CLOCK IT</h1>
            <h2>Here you can track your attendance clock from anywhere and at anytime</h2>
        </div> 
        <div class="split__right">
            <form action="/newUser" method="post" class="form" onsubmit="return validation()">
                <h1 class="form__title">Create New User</h1>
                <input type="text" required class="form__input" autofocus name="fName" id="fName" placeholder="First Name"><br>
                <input type="text" required class="form__input" autofocus name="lName"  id="lName" placeholder="Last Name"><br>
                <input type="email" required class="form__input" autofocus name="mail" id="mail" placeholder="Email Address"><br>
                <input type="text" required class="form__input" autofocus name="newUsername" id="newUsername" placeholder="Choose Username"><br>
                <input type="password" required class="form__input" name="newPassword" id="newPassword" autofocus placeholder="Choose Password"><br>
                <span id="massage"></span><br>
                <button type="submit">Create</button>
                <!-- <a href="/newUser">
                    <button type="submit">Create</button>
                </a> -->
            </form>
            <p class="bottomLine">Already have an account? <a href="/">Sign In here</a></p> 
        </div> 
    </div>  
</body>
</html>